<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansuo.file.manage.mapper.MetadataMapper">

    <update id="updateBusinessKey">
        update file_metadata_info
        set business_key = #{businessKey}
        where file_key = #{fileKey}
    </update>

    <select id="queryByBusinessKey" resultType="com.tiansuo.file.manage.model.vo.FileUploadResultVo">
        select file_key,file_md5 as fileMd5, file_name, file_suffix, file_size, storage_path
        from file_metadata_info
        where business_key = #{businessKey}
    </select>
</mapper>