server:
  port: 8080

spring:
  datasource:
    dynamic:
      strict: false
      primary: primary
      datasource:
        primary:
          driver-class-name: com.mysql.cj.jdbc.Driver
          type: com.zaxxer.hikari.HikariDataSource
          url: jdbc:mysql://localhost:3306/minio
          username: root
          password: root


  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


logging:
  level:
    # 打印接口请求信息
    org.springframework.web.servlet.DispatcherServlet: debug
    org.mybatis: debug
    com.tiansuo.file.manage.: debug
  config: classpath:logback-spring.xml
  pattern:
    level: debug


#minio配置
minioplus:
  backend: http://172.25.0.1:9000  #minio存储服务地址
  browserUrl: http://localhost:8000/minio #前端浏览器访问地址,如果需要被nginx代理的话,可以配置
  key: gh1K6HKXGly1N72ci87D #Access key
  secret: bG95pQDC3GVfie5K3VyvsnZQrnlQtx6YgOLN0O7b  #Secret key
